<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>KN Cinema</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">
    @* <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - YourAppName</title> *@
    <link rel="stylesheet" href="~/Main/lib/bootstrap/dist/css/bootstrap.min.css" />


    @RenderSection("Styles", required: false)
    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- Libraries Stylesheet -->
    <link href="~/Main/lib/owlcarousel/owl.carousel.min.js" rel="stylesheet">
    <link href="~/Main/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />

    <!-- Customized Bootstrap Stylesheet -->
    <link rel="stylesheet" href="~/Main/css/site.css" />
    <link href="~/Main/css/style.css" rel="stylesheet">
</head>


<body>
    <!-- Topbar Start -->
    <div class="container-fluid bg-light pt-3 d-none d-lg-block">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center text-lg-left mb-2 mb-lg-0">
                    <div class="d-inline-flex align-items-center">
                        <p><i class="fa fa-envelope mr-2"></i>Admin@gmail.com</p>
                        <p class="text-body px-3">|</p>
                        <p><i class="fa fa-phone-alt mr-2"></i>+84 832847288</p>
                    </div>
                </div>
                <div class="col-lg-6 text-center text-lg-right">
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->
    <!-- Navbar Start -->
    <div class="container-fluid position-relative nav-bar p-0">
        <div class="container-lg position-relative p-0 px-lg-3" style="z-index: 9;">
            <nav class="navbar navbar-expand-lg bg-light navbar-light shadow-lg py-3 py-lg-0 pl-3 pl-lg-5">
                <a class="nav-item nav-link"  asp-area="Customer" asp-controller="Home" asp-action="Index">
                    <h1 class="m-0 text-primary"><span class="text-dark">KN</span>CINEMA</h1>
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
                    <div class="navbar-nav ml-auto py-0">
                        @if (User.IsInRole("Admin"))
                        {
                            <a class="nav-item nav-link" asp-area="Admin" asp-controller="Home" asp-action="Index">Quản lý</a>
                        }
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a class="nav-item nav-link" asp-area="Customer" asp-controller="Home" asp-action="Index">Trang chủ</a>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Phim</a>
                                <div class="dropdown-menu border-0 rounded-0 m-0">
                                    <a class="dropdown-item" asp-area="Customer" asp-controller="Home" asp-action="DSPhimSapChieu">Phim sắp chiếu</a>
                                    <a class="dropdown-item" asp-area="Customer" asp-controller="Home" asp-action="DSPhimDangChieu">Phim đang chiếu</a>
                                </div>
                            </div>
                            <a class="nav-item nav-link" asp-area="Customer" asp-controller="Home" asp-action="SuKien">Sự kiện</a>
                            <a class="nav-item nav-link" asp-controller="Home" asp-action="DatVe">Đặt vé</a>
                            <a class="nav-item nav-link" href="@Url.Action("DonCuaToi", "Home")">Đơn của bạn</a>
                        }
                        else
                        {
                            <a class="nav-item nav-link" asp-area="Customer" asp-controller="Home" asp-action="Index">Trang chủ</a>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Phim</a>
                                <div class="dropdown-menu border-0 rounded-0 m-0">
                                    <a class="dropdown-item" asp-area="Customer" asp-controller="Home" asp-action="DSPhimSapChieu">Phim sắp chiếu</a>
                                    <a class="dropdown-item" asp-area="Customer" asp-controller="Home" asp-action="DSPhimDangChieu">Phim đang chiếu</a>                                  
                                </div>
                            </div>
                            <a class="nav-item nav-link" asp-area="Customer" asp-controller="Home" asp-action="SuKien">Sự kiện</a>
                            <a class="nav-item nav-link" asp-controller="Home" asp-action="DatVe">Đặt vé</a>
                        }
                                                               
                        @await Html.PartialAsync("_LoginPartial")
                    </div>
                </div>
            </nav>
        </div>
    </div>
    @RenderBody()
    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-white-50 py-5 px-sm-3 px-lg-5" style="margin-top: 90px;">
        <div class="row pt-5">
            <div class="col-lg-3 col-md-6 mb-5">
                <a href="" class="navbar-brand">
                    <h1 class="text-primary"><span class="text-white">KN</span>CINEMA</h1>
                </a>
                <p style="text-align: justify;">Hiện nay đang có 3 rạp ở Thành phố Hồ Chí Minh. KN Cinema là điểm đến quen thuộc
                    cho giới trẻ cả nước để tiếp cận nhanh nhất với các phim hay và phim mới không chỉ Việt Nam hay Hollywood mà còn từ Hàn Quốc, Thái Lan, Nhật Bản…</p>     
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h5 class="text-white text-uppercase mb-4">KN Cinema bao gồm 3 rạp</h5>
                <div class="d-flex flex-column justify-content-start">
                    <a class="text-white-50 mb-2"><i class="fa fa-angle-right mr-2"></i>Rạp Quận 1: 123, đường ABC, quận 1, TP. Hồ Chí Minh</a>
                    <a class="text-white-50 mb-2"><i class="fa fa-angle-right mr-2"></i>Rạp Quận 2: 234, đường ABC, quận 2, TP. Hồ Chí Minh</a>
                    <a class="text-white-50 mb-2"><i class="fa fa-angle-right mr-2"></i>Rạp Quận 3: 345, đường ABC, quận 3, TP. Hồ Chí Minh</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h5 class="text-white text-uppercase mb-4">THÔNG TIN</h5>
                <div class="d-flex flex-column justify-content-start">
                    <a asp-area="Customer" asp-controller="Home" asp-action="ThongTin" class="text-white-50 mb-2"><i class="fa fa-angle-right mr-2"></i>Thông tin về chúng tôi</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h5 class="text-white text-uppercase mb-4">LIÊN HỆ</h5>
                <p><i class="fa fa-map-marker-alt mr-2"></i>123, đường ABC, quận 1, TP. Hồ Chí Minh</p>
                <p><i class="fa fa-phone-alt mr-2"></i>+84 832847288</p>
                <p><i class="fa fa-envelope mr-2"></i>Admin@gmail.com</p>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-dark text-white border-top py-4 px-sm-3 px-md-5" style="border-color: rgba(256, 256, 256, .1) !important;">
        <div class="row">
            <div class="col-lg-6 text-center text-md-left mb-3 mb-md-0">
                <p class="m-0 text-white-50">
                    Copyright &copy; <a href="#">KN Cinema</a>. All Rights Reserved.</a>
                </p>
            </div>
            <div class="col-lg-6 text-center text-md-right">
                <p class="m-0 text-white-50">
                    Designed by <a href="https://htmlcodex.com">YM</a>
                </p>
            </div>
        </div>
    </div>
    <!-- Footer End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="~/Main/lib/easing/easing.min.js"></script>
    <script src="~/Main/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/Main/lib/tempusdominus/js/moment.min.js"></script>
    <script src="~/Main/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="~/Main/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="~/Main/mail/jqBootstrapValidation.min.js"></script>
    <script src="~/Main/mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="~/Main/js/main.js"></script>
    <script src="~/Main/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/Main/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/Main/js/site.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>